PORT=8000
NODE_ENV=development
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/gmail/oauth2callback
GMAIL_REFRESH_TOKEN=
GMAIL_USER_EMAIL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
ML_SERVICE_URL=http://localhost:8000
DATABASE_URL=./backend/database.sqlite
GEMINI_API_KEY=
GOOGLE_API_KEY=
IPINFO_TOKEN=
